{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <!-- File overview panel -->
        <div class="panel panel-primary panel-center">
            <div class="panel-heading">
                <h3 class="panel-title">Bestandsoverzicht</h3>
                <div class="pull-right button-panel">
                    <a href="{{ path('import') }}" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-upload"></span> Importeren</a>
                </div>
            </div>
            <div class="panel-body">
                <h4 class="text-center">Overzicht</h4>
                <hr>
                {% if fileinfo is defined %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Datum</th>
                        <th>Grootte</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{ fileinfo }}</td>
                        <td>{{ filedate }}</td>
                        <td>{{ filesize }} Bytes</td>
                        <td>
                            <a class='btn btn-primary btn-xs' href="{{ path('sqlite_download') }}"><i class="glyphicon glyphicon-download"></i> Download</a>
                            <a class='btn btn-primary btn-xs' href="{{ path('overview') }}"><i class="glyphicon glyphicon-eye-open"></i> Bekijk</a>
                            <a class='btn btn-primary btn-xs' href="{{ path('sqlite_delete') }}"><i class="glyphicon glyphicon-remove"></i> Verwijder</a>
                        </td>
                    </tr>
                </table>
                {% else %}
                    <div class="alert alert-warning">
                        <p class="text-center">Nog geen database beschikbaar! Importeer een excel bestand.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
