{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <!-- Database overview panel -->
        <div class="panel panel-primary panel-center">
            <div class="panel-heading">
                <h3 class="panel-title">Database overzicht</h3>
                <div class="pull-right button-panel">
                    <a href="{{ path('homepage') }}" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-home"></span> Home</a>
                    <a  data-toggle="collapse" data-target="#demo" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-transfer"></span> Query uitvoeren</a>
                </div>
            </div>
            <div class="panel-body">

                <!-- Tabs & Table -->
                <div class="col-md-8">
                    <ul class="nav nav-tabs">
                        {% for tableName in tableNames %}
                            <li class="active"><a data-toggle="tab" href="{{ tableName|join(', ') }}">{{ tableName|join(', ') }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for tableName in tableNames %}
                        <div id="{{ tableName|join(', ') }}" class="tab-pane fade in active">
                            {% endfor %}
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    {% for columnName in columnNames %}
                                        <th> {{ columnName }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                {% for queryResult in queryResults %}
                                    <tr>
                                        {% for columnName in queryResult %}
                                            <td>{{ columnName }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Info sidebar -->
                <div class="col-md-3">
                    <br><br>
                    <ul class="list-group">
                        <li class="list-group-item">Grootte: {{ app.session.get('size') }} Bytes</li>
                        <li class="list-group-item">Tabellen: {{ columnNames|length }}</li>
                    </ul>
                </div>

                <!-- Query Field -->
                <div id="demo" class="collapse">
                    <div class="col-md-12">
                        <hr>

                        <!-- Query View -->
                        <div class="col-md-6">
                            <div class="well well-lg">
                                <form class="form-horizontal" action="{{ path('query_view') }}" method="post">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">View naam</label>
                                        <div class="col-md-5">
                                            <input id="view" name="view" type="text" placeholder="[Viewnaam]" class="form-control input-md">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="column">Kolom</label>
                                        <div class="col-md-5">
                                            <select id="column" name="column" class="form-control">
                                                {% for columnName in columnNames %}
                                                    <option value="{{ columnName }}">{{ columnName }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="worksheet">Werkblad</label>
                                        <div class="col-md-5">
                                            <select id="worksheet" name="worksheet" class="form-control">
                                                {% for tableName in tableNames %}
                                                    <option value="{{ tableName|join(', ') }}">{{ tableName|join(', ') }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block">Maak hiermee een nieuwe view.</span>
                                            <button  name="submit" type="submit" class="btn btn-primary">Uitvoeren</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Query Custom -->
                        <div class="col-md-6">
                            <div class="well well-lg">
                                <form class="form-horizontal" action="{{ path('query_custom') }}" method="post">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Custom Query</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
                                                <input id="name" name="name" type="text" placeholder="bijv. Create Table" class="form-control input-md">
                                            </div>
                                            <span class="help-block">Uitvoeren van eigen query.</span>
                                            <button  name="submit" type="submit" class="btn btn-primary">Uitvoeren</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
{% endblock %}
