{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <!-- Database overview panel -->
        <div class="panel panel-primary panel-center">
            <div class="panel-heading">
                <h3 class="panel-title">Database overzicht</h3>
                <div class="pull-right button-panel">
                    <a href="{{ path('overview_delete') }}" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-home"></span> Home</a>
                    <a  data-toggle="collapse" data-target="#demo" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-transfer"></span> Query uitvoeren</a>
                </div>
            </div>
            <div class="panel-body">
                <!-- Tabs & Table -->
                <div class="col-md-8">
                    <ul class="nav nav-tabs">

                        {#{% for tableName in tableNames %}#}
                        <li><a data-toggle="tab" href="{{ tableNames }}">{{ tableNames }}</a></li>
                        {#{% endfor %}
#}
                    </ul>

                    <div class="tab-content">

                        <div id="{{ tableNames }}" class="tab-pane fade in active">

                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    {% for columnName in columnNames %}
                                    <th> {{ columnName }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                {% for queryResult in queryResults %}
                                    <tr>
                                    {% for columnName in queryResult %}
                                        <td>{{ columnName }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>

                </div>

                <!-- Info sidebar -->
                <div class="col-md-3">
                    <br><br>
                    <ul class="list-group">
                        <li class="list-group-item">Grootte: {{ app.session.get('size') }} Bytes</li>
                        <li class="list-group-item">Tabellen: {{ columnNames|length }}</li>
                    </ul>
                </div>

                <!-- Query Field -->
            <div id="demo" class="collapse">

                <div class="col-md-12">
                    <hr>
                    <div class="well well-lg">Large Well</div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
{% endblock %}
